@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* sidebar */
.sidebar {
  position: fixed;
  height: 100vh;
  box-sizing: border-box;
  border-radius: 0px 45px 45px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  overflow-y: scroll;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.dashLogo {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  margin: 52px 20px;
}

.item {
  width: 226px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #666;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.item-hignlight {
  width: 226px;
  height: 86px;
  background: rgba(190, 18, 60, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-hignlight div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #be123c;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.start-playing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 12px;
  width: 170px;
  height: 210px;
  border-radius: 20px;
  border: 1px solid rgba(190, 18, 60, 0.7);
  background: rgba(248, 231, 235, 0.4);
  margin-top: 80px;
}
.start-playing div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.quizes {
  color: rgba(51, 51, 51, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-btn button {
  width: 112px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(190, 18, 60, 0.2);
  color: #be123c;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* movie details */
.details-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}
.details-body1 {
  max-width: 900px;
  width: 100%;
}
.movie-details {
  margin-top: 54px;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  margin-left: 270px;
  margin-right: 40px;
  transition: margin-left 0.3s ease-in-out;
}
.toggle-sidebar-button {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 2;
  font-size: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.app.sidebar-visible .sidebar {
  transform: translateX(-100%);
}

.app.sidebar-visible .movie-details {
  margin-left: 100px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 25px;
  gap: 40px;
}

.background-poster img {
  margin-top: 40px;
  width: 900px;
  height: 409px;
  border-radius: 20px;
}

.release_date p {
  color: var(--gray-400, #9ca3af);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.movie-title {
  color: #404040;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.runtime p {
  color: #404040;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dot span {
  position: absolute;
  top: -100%;
  display: flex;
  align-items: center;
  color: #404040;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.overview {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 300px;
  height: 55px;
  border-radius: 10px;
  background: #be123c;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.more-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 300px;
  height: 55px;
  border-radius: 10px;
  border: 1px solid #be123c;
  background: rgba(190, 18, 60, 0.1);
  color: #333;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.part2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.overBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 24px;
}
/* Error */

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-content {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.error-heading {
  font-size: 24px;
  color: #960929;
  margin-bottom: 10px;
}

.error-message {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.error-suggestion {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}
.error-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-image img {
  max-width: 70%;
  height: auto;
}

@media (max-width: 900px) {
  .details-body {
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }
}

@media (max-width: 750px) {
  .movie-details {
    margin-left: 50px;
  }
  .details-body1 {
    margin-top: 100px;
  }
  .trailer {
    width: 200px;
    font-size: 16px;
    gap: 4px;
  }
  .more-option {
    width: 200px;
    font-size: 14px;
    gap: 2px;
  }
  .background-poster {
    display: none;
  }
  .top {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 12px;
  }
  .sidebar {
    transform: translateX(-100%);
  }
  .app.sidebar-visible .sidebar {
    transform: translateX(0);
  }
  .overBody {
    flex-direction: column;
    align-items: center;
  }
  .overview {
    text-align: center;
  }
  .part2 {
    flex-direction: row;
    width: 100%;
  }
}
@media (max-width: 510px) {
  .part2 {
    flex-direction: column;
  }
  .trailer {
    width: 220px;
  }
  .more-option {
    width: 220px;
  }
}
